body {
  background-color: red;
  background-image: url(460c117919ba8720624c6592acaacb88.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

button {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

